@page
@model ProjectX.PrivateOffice.Pages.TemplateScheduleDay.IndexModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-7">
            @foreach (var template in Model.MasterTimes.MasterTemplateTimes)
            {
                <p class="fw-bold">@Model.MasterTemplateTypes[template.TemplateId]</p>
                <ul class="list-group">
                    @foreach (var time in template.TimesStart)
                    {
                        <li class="list-group-item">
                            <p>@time</p>
                        </li>
                    }
                </ul>
            }

        </div>
        <div class="col-3">
            <ul class="list-group">
                @foreach (var type in Model.MasterTemplateTypes)
                {
                    <li class="list-group-item">
                        @{
                            if (Model.MasterTimes.MasterTemplateTimes.Select(x => x.TemplateId).Contains(type.Key))
                            {
                                <button data-id="@type.Key" type="button" onclick="addFormSchedule(this)" class="btn btn-secondary">Изменить расписание на @Model.MasterTemplateTypes[type.Key]</button>
                            }
                            else
                            {
                                <button data-id="@type.Key" type="button" onclick="addFormSchedule(this)" class="btn btn-success">Добавить расписание на @Model.MasterTemplateTypes[type.Key]</button>
                            }
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-4 form-container">

        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" language="javascript">
        function addFormSchedule(e) {
            var form = $('.create-template:last').clone();
            $(form).removeClass('d-none');
            $('.form-container').append($(form));
            var index = $(e).data("id");

            // вынести в функцию мб? 
            $(".dropdown-menu li a").click(function (e) {
                var id = $(e.currentTarget).data('id');
                var selText = $(this).text();
                var dropdown = $(this).parents('.dropdown').find('.dropdown-toggle');
                dropdown.html(selText);
                $(dropdown).attr('data-id', id);
            });
        }


        // добавляем новые инпуты сразу после последнего инпута
        function addTimeInput(e) {
            var child = $('.add-time').last().clone();
            $(child).find('input').val('');
            var parent = $(e).parents('.create-template');
            $(child).insertAfter(parent.find('.add-time:last'));
        }
    </script>
}



<form class="create-template d-none">
    <div class="mb-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Выберите шаблон
            </button>
            <ul class="dropdown-menu">
                @foreach (var type in Model.MasterTemplateTypes)
                {
                    <li><a data-id="@type.Key" class="dropdown-item" href="#">@type.Value</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="mb-3 add-time">
        <label for="InputTime" class="form-label">Время начала: </label>
        <input type="text" class="form-control" id="InputTime">
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-success" onclick="addTimeInput(this)">Добавить время</button>
    </div>
</form>